<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="excellence" translate="label" sortOrder="100">
            <label>Excellence</label>
        </tab>
        <section id="slider" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Slider Setting</label>
            <tab>excellence</tab>
            <resource>Excellence_Slider::slider_config</resource>
            <group id="slider" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Sliders</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Awesome Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="select_slider" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Select Slider</label>
                    <source_model>Excellence\Slider\Model\Adminhtml\Config\Source\Attributes</source_model>
                    <comment>Choose any one slider.</comment>
                </field>
            </group>
        </section>
    </system>
</config>